*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100dvw;
    min-height: 100dvh;

    background-color: #e8e0c9;
    background-image: url('../images/demon-lords.jpg');
    background-size: 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:bottom;
    font-family: fantasy, sans-serif;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

header{
    height: 100dvh;
    width: 10dvw;

    display: flex;
    align-items:center ;
    justify-content: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav{
    height: 60dvh;
    width: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 50px;
}

.profile{
    width: 45px;
    height: 45px;

    border-radius: 100%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.4s;
    cursor: pointer;
}

.profile:hover{
    transform: scale(1.1);
}

#rimuru{
    background-image: url('../images/rimuru/rimuru\ profile.jpg');
}

#milim{
    background-image: url('../images/milim/milim\ profile.jpeg');
}

#guy{
    background-image: url('../images/guy/guy\ profile.jpeg');
}

#valentine{
    background-image: url('../images/valentine/valentine\ profile.jpeg');
}

#ramiris{
    background-image: url('../images/ramiris/ramiris\ profile.jpeg');
}

#leon{
    background-image: url('../images/leon/leon\ profile.jpeg');
}

#dagruel{
    background-image: url('../images/dagruel/dagruel\ profile.jpeg');
}

#dino{
    background-image: url('../images/dino/dino\ profile.jpeg');
}



.container{
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    flex: 3;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    width: 80dvw;
    height: auto;
    flex: 7;

    display: flex;
    align-items: center;
}

.description{
    flex: 7;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.description p{
    font-size: 1.2rem;
}

.image{
    flex: 3;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 300px;
}

.lord-demon{
    width: 100%;
    height: 100%;

    opacity: 0.95;

    position: fixed;
    z-index: 100;

    transition: 1s;
}

.rimuru{
    background-color: deepskyblue;
}

.milim{
    background-color: lightpink;
}

.guy{
    background-color:tomato;
}

.valentine{
    background-color:dimgray;
}

.ramiris{
    background-color: gold;
}

.leon{
    background-color: goldenrod;
}

.dagruel{
    background-color:darkblue;
}

.dino{
    background-color: cadetblue;
}

@media (max-width: 800px){
    body{
        background-image: url('../images/demon-lords.jpg');
        background-size: 100%;
    }

    header{
        height: 60px;
        width: 100dvw;

        display: flex;
        align-items:center ;
        justify-content: center;

        position: fixed;
        top: 0;
        right: 0;
    }

    nav{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    .container{
        padding-top: 70px;
    }

    .content{
        width: 95dvw;
        margin: 0 auto;

        flex-direction: column;
        justify-content: center;
    }

    .description p{
        font-size: 1.2rem;
    }

    .image img{
        width: 250px;
    }
}

@media (max-width: 500px){
    body{
        background-image: url('../images/demon-lords.jpg');
    }

    .description p{
        font-weight: 300;
        font-size: 0.8rem;
    }
}